@using WebApplication3.ViewModels;

@model BazaVM


<style>
	#Categories img{
		transition: transform .2s; 
		margin: 5px;
	}
	#Categories img:hover{
			transform: scale(1.2);
	}
</style>
<div id="Categories" class="container" style="padding-top:70px;">
	<div class="row gx-5 gy-5">
		@foreach (var item in Model.Categories)
		{
			<div class="col-3 ">
				<div class="text-align-center w-100">
					<img  style="object-fit:contain; width:100px ; margin-left:100px ; margin-bottom:20px"  src="@item.Image" class="card-img-top">

					<h5 class="card-title text-center" style="margin:0 auto;background-color:black;color:white; border-radius:10px; width:270px; height:50px; padding:10px 10px">@item.Name</h5>
			</div>
			</div>

		}
	</div>
</div>

<div  id="Products" class="container" style="padding-top:70px; padding-bottom:70px">
	<div class="row gx-5 gy-5">
		@foreach(var item in Model.Products)
		{
			<div class="col-3"> 
				<div class="card" style="width:100%"> 
					<img src="@item.Image" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">@item.Name</h5>
						<p class="card-text"> @item.Description</p>
						<p class="" style="color:red;">@item.Price </p>
					</div>
				</div>
			</div>
		}
	</div>
</div>


